<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
        <p id="Nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Possimus unde non, 
                tenetur amet, voluptates inventore nulla 
                labore quidem consequatur optio minima! 
                Adipisci facere aliquam, dolorem pariatur 
                culpa doloremque inventore earum.</p>
        </span>
    </div>
</div>
