<app-header></app-header>
<div class="container" *ngIf="expLab">
    <div class="row">
        <div>
            <br>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre Empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required="">
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripción de la tarea</label>
                    <input type="textbox" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required="">                    
                </div>
                <br>
                <div class="d-flex justify-content-between align-items-end mb-2">
                    <button class="btn btn-success">Actualizar experiencia</button>
                    <a href="/" class="btn btn-secondary al">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>