<app-header></app-header>
<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="link">Link del proyecto</label>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="proyecto.link" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="img">Imagen del proyecto</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="proyecto.img" (change)="uploadProyectoImg($event)" accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <div class="d-flex justify-content-between align-items-end mb-2">
                    <button class="btn btn-success">Actualizar proyecto</button>
                    <a href="/" class="btn btn-secondary al">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
