<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    
    <div class="col-lg 1"></div>
    <div class="col-lg-11 parte1">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                            <h3>{{Proyecto.nombre}}</h3>
                            <a href="{{Proyecto.link}}">{{Proyecto.link}}</a>
                            <h6>{{Proyecto.descripcion}}</h6>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                            <img src="{{Proyecto.img}}" class="img-fluid img-proyecto" id="fotodeperfil">
                        </div>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-outline-dark btn-sm" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pencil"></i></button></td>
                    <td *ngIf="isLogged"><button class="btn btn-outline-danger btn-sm" (click)="delete(Proyecto.id)"><i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
