<div class="row">

    <h1>Proyectos Realizados</h1>

    <div class="container">

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Inscripción Congreso CMVSFE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laborum vero sit? Quasi voluptates esse facilis alias rem recusandae earum, fuga explicabo aspernatur corporis! Aut porro reprehenderit recusandae error unde!</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto.png" class="img-fluid img-proyecto">
        </div>

    </div>

</div>
