<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    
    <div class="col-lg 1"></div>
    <div class="col-lg-11 parte1">
        <table class="table" *ngFor="let Proyecto of proyecto">
            <tbody>
                <tr>
                    <td class="col-sm-12 col-md-7 col-lg-7 parte1">
                        <h3>{{Proyecto.nombre}}</h3>
                        {{Proyecto.link}}
                    </td>
                    <td>{{Proyecto.descripcion}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-outline-dark btn-sm" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pencil"></i></button></td>
                    <td *ngIf="isLogged"><button class="btn btn-outline-danger btn-sm" (click)="delete(Proyecto.id)"><i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
