<div class="row">

    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="67"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#DF7401'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#F5D0A9'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#0040FF'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#A9E2F3'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="67"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#F7FE2E'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#FBFBEF'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#9A2EFE'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#E3CEF6'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="67"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#585858'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#A4A4A4'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [backgroundPadding]="7"
            [radius]="50"
            [space]="-3"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [outerStrokeColor]="'#585858'"
            [innerStrokeWidth]="2"
            [innerStrokeColor]="'#A4A4A4'"
            [animateTitle]="false"
            [animationDuration]="1000"
            [clockwise]="false"
        ></circle-progress>
    </div>
</div>
