.gradient-custom {
    /* fallback for old browsers */
    background: #bbbbbb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(180, 180, 180), rgb(97, 97, 97));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(180, 180, 180), rgb(97, 97, 97))
    }

input {
    text-align: center;
}